@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus,
input:focus {
  outline: none !important;
}

input:active {
  outline: 0 !important;
}

input {
  outline-offset: 0;
  outline-width: 0;
  outline-color: transparent;
  outline: 0 !important;
}

#progressbar {
  transition: all;
  transition-timing-function: ease-in;
  transition-duration: 800ms;
}

input {
  transition: border-color 1s ease;
}
