@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&family=JetBrains+Mono:wght@200&display=swap');


body {
  margin: 0;
  font-family: 'Hahmlet', serif;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#progressbar {
  transition: all;
  transition-timing-function: ease-in;
  transition-duration: 800ms;
}

input {
  transition: border-color 1s ease;
}




